<table>

  <tr>
    <td>Song Name</td>
    <td>Song Artist</td>
    <td>Song Rating</td>
  </tr>

  <% @songs.each do |song|%>

    <tr>
      <td><%= song["id"]%></td>
      <td><%= song["name"]%></td>
      <td><%= song["artist"]%></td>
      <td><%= song["rating"]%></td>
    </tr>
    
  <% end -%>  

</table>